@{
    ViewData["Title"] = "Chat";
}
<div class="container-fluid">

    <div class="text-center">
        <div class="input-group-text">
            <label class="form-label">Name</label>
            <input type="text" class="mx-1 input-group" id="nameInput"/>
        </div>

        <div class="input-group-text my-2">
            <input type="text" id="textInput"  class="input-group"/>
            <button class="btn btn-success mx-1" id="sendButton">Send</button>
        </div>
        <div id="container">

        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.3/signalr.min.js"></script>

<script>

    // 1- Create Connection to signalR with Url of "/chathub"
    const connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

    // 2- Create Event for handling the incoming messages
    connection.on("ReceiveMessage", (user, message) => {
        let div = document.createElement('div');
        div.setAttribute('sylte', 'text-align:left;');
        div.innerText = `${user}: ${message}`;
        messages.appendChild(div);
    });

    // 3- Start the connection with signalR with Url of "/chathub"
    connection.start().then(()=> console.log("Connected Successfully!")).catch(console.error);


    // Getting Dom Elements
    let messageInput = document.getElementById("textInput");
    let button = document.getElementById("sendButton");
    let nameInput = document.getElementById("nameInput");
    let messages = document.getElementById("container");

    button.addEventListener('click', () => {
        connection.invoke("SendMessage", nameInput.value, messageInput.value);
        messageInput.value = "";

        

    });
</script>